*{
  font-family:  Helvetica, Arial, sans-serif;

  margin:0;
  padding: 0;
}

/* ITEM LIST */

.seccionProductosContenedor {
  display: grid;
  grid-template-columns: 25% 75%;
  /* background-color: lightgray; */
  background-color: #fff;
}

.barraCategoriasContenedor {
  grid-column: 1;
  padding: 50px;
  padding-left: 70px;
}

.tituloCategoria {
  font-size: 30px;
  padding-bottom: 50px;
}

.barraCategoriasItem {
  list-style: none;
  padding: 10px 0;
  width: fit-content;
  color: black;
  text-transform: capitalize;
}

.barraCategoriasItem:hover {
  color: red;
  width: fit-content;
}

.listaCategorias {
  padding: 0;
  cursor: pointer;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.seccionProductosProductos {
  grid-column: 2;
}

.productosContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  padding: 50px 20px;
}

.cardsProductos {
  /* padding: 40px; */
  width: 216px;
  text-align: center;
  margin: auto;
  /* display: grid; */
  /* grid-template-rows: 60% 20% 20%; */
  /* border: 1px solid white; */
  border-radius: 10px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  height: 400px;
  /* margin: 30px 0; */

  background-color: #fff;

  /* box-shadow: 0 2px 4px rgba(219, 75, 75, 0.9); */
}

.productosImg {
  width: 100%;
  height: 216px;
  grid-row: 1;
  border-radius: 10px;
}

.cardsInfoContainer {
  padding: 20px;
  display: grid;
}

.cardsTituloProducto {
  margin: top;
  grid-row: 2;
  font-size: 16px;
  text-align: left;
  width: 100%;
}

.cardsPrecio {
  grid-row: 3;
  text-align: left;
  margin: 0;
}

.cardsInfoProducto {
  text-align: left;
  margin: 0;
  padding: 30px 0;
}

.btnProductos {
  grid-row: 4;
}

.tituloContainer {
  text-align: center;
  padding-top: 50px;
}

.titulo {
  margin: 0;
  font-size: 40px;
}

.btnVerMas {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.spinnerContainer {
  text-align: center;
  padding: 20px 0;
}

/* NAV BAR LIST */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  color: white;
  background-color: black;
  padding: 20px 100px;
}
.contenedor {
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 20px;
  margin: 0;
  color: white;
  height: 80px;
}
.navBarLogo{
  width: 60px;
}

.lista {
  list-style: none;
  cursor: pointer;
  color: #fff;
  margin: auto 0;
}

.lista:hover {
  color: blue;
}

.nombreUsuario {
  border: 1px solid blue;
  border-radius: 10px;
  background-color: #0070cc;
  color: white;
  padding: 8px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nombreUsuario p {
  margin: auto;
  padding: 0 5px;
}
.linkActive {
  color: red;
  text-transform: capitalize;
  margin: auto 0;
}

/* FOOTER */

.footer {
  /* width: 100%;
  background-color: black;
  z-index: 1000;
  height: 80px;
  margin: auto; */
  width: 100%;
  z-index: 100;
  color: white;
}
.contenedorFooter {
  /* display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  color: white; */
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 20px;
  margin: 0;
  color: white;
  height: 80px;
}

.listaFooter {
  list-style: none;
  cursor: pointer;
  color: #fff;
  margin: auto 0;
}

.fullheight {
  /* height: 70vh; */
  height: 90vh;
  width: 100vw;
}

.textoLeft {
  text-align: left;
  position: relative;
  left: -60px;
  top: -30px;
  color: black;
  width: 50%;
}

.textoBlanco {
  color: white;
}

.btnMasInformacion {
  display: flex;
  justify-content: left;
}

.btnMasInformacion:hover {
  background-color: blue;
}

.ingresoNombreContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 25%;

  padding: 50px;
  width: 100%;
  height: 100%;
}

/* ITEM DETAIL */

.contenedorImagen {
  background-color: rgba(0, 0, 0, 0.1);
  /* padding: 80px 150px; */
  width: 100%;
  
  height: 100px; /* Altura deseada */
   
}

.contenedorProductos{
  height: min-content;
}

.imgProductosDetalle {
  width: 100%;
  height: 600px;
  
}

.contenedorInfo {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  width: 30%;
  position: absolute;
  top: 100px;
  left: 50px;
  background-color: rgba(31,32,36,.97);
  color: white;
  padding: 30px;
  
}
.descripcionJuego{
  padding: 20px 0;
}
.contenedorInfoProductos {
  display: flex;
  flex-direction: column;
  padding: 20px;
  
}

.tituloProductoDetalle {
  margin: auto;
  font-size: 30px;
}
.contenedorCategoria{
  display: flex;
  padding: 5px;
}
.categoriaProducto{
  font-size: 8px;
  border: 1px solid white;
  width: fit-content;
  padding: 2px;
  margin: 0 2px;
  text-transform: uppercase;
}
.descripcionProductoDetalle {
  padding: 20px 0;
}

.precioProductoDetalle {
  font-size: 30px;
  margin: 25px 0;
}
.contenedorBotones{
  display: flex;
  
}
.contenedorBtn {
  
  
  text-transform: uppercase;
}
.contenedorBtnAgregar{
  width: 200px;
  padding-left: 20px;
  
}
.btnMasMenos{
  background-color: grey;
  padding: 3px 12px;
  color: white;
  width: 35px;
}
.btnAgregar2{
  background-color: orangered;
  width: 200px;
  color: white;
}
.contenedorInfoJuego{
  text-align: right;
  position: absolute;
  top: 450px;
  background-color: wheat;
}



/* FORMULARIO CONTACTO */

.formularioContainer {
  padding: 100px;
  text-align: center;
  display: grid;
  grid-template-columns: 30% 70%;
  background-image: url("./components/imagenes/ImgContacto3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -70px;
}

.formularioContainer h1 {
  font-size: 20px;
  padding-bottom: 20px;
}

.formularioInfo {
  grid-column: 1;
}

.formularioRecuadro {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 25% 75%;
}

.formularioRecuadro label {
  text-align: left;
}

.formularioRecuadro input,
.formularioRecuadro textarea {
  width: 200px;
}

.formularioBtnContainer {
  padding-right: 100px;
  padding-top: 30px;
}

/* CART LIST */
.contenedorBase {
  margin: 100px;
}

.bienvenido {
  margin: 0;
}
.contenedorCerrarSesion {
  font-size: 14px;
}
.formularioContainerCarrito {
  padding: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formularioContainerCarrito h1 {
  font-size: 20px;
  padding-left: 70px;
}

.formularioRecuadroCarrito {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 30% 70%;
  width: 300px;
  margin: auto;
}

.formularioRecuadroCarrito label {
  grid-column: 1;
}

.formularioRecuadroCarrito input {
  grid-column: 2;
}

.CartBtnContainer {
  padding-left: 70px;
  padding-top: 30px;
}

/* CARRITOVACIOLIST */

.ccc {
  height: 100vh;
}

/* .carritoVacioContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 50px;
  margin-bottom: 100px;
  min-height: 80vh;
} */

.carritoVacioContainer {
  display: flex;
  padding: 50px;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.carritoVacioContainer h1 {
  font-size: 30px;
}

.carritoVacioImgContainer {
  width: 20%;
  margin: auto;
  padding: 30px 0;
}

.carritoVacioImgContainer img {
  width: 50%;
}

/* CARRITOLIST */

.mainContenedorCarrito {
  display: flex;
  padding: 50px;
  width: 100%;
}
.carritoContainer {
  display: flex;
  flex-direction: column;

  width: 70%;
}
.CarritoTitulo {
  font-size: 30px;
  text-align: left;
  padding-left: 190px;
}

.vaciarCarritoBtnContainer {
  display: flex;
  justify-content: right;
  padding-right: 190px;
}
.cardsProductosCarrito {
  padding: 40px;
  width: 70%;
  margin: 10px auto;
  border: 1px solid grey;
  border-radius: 10px;
  height: 220px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.productosImgContainerCarrito {
  text-align: left;
  padding-left: 40px;
  width: 30%;
}

.infoContainerCarrito {
  text-align: left;
  width: 70%;
}

.productosImgCarrito {
  width: 100px;
  height: 100px;
}

.btnEliminarCarrito {
  text-align: right;
  padding-right: 50px;
}

.cardsTituloProductoCarrito {
  margin: auto;
  font-size: 20px;
}
.infoCompraContainer {
  width: 30%;
}

.infoCompraTotal {
  width: 80%;
  border: 1px solid grey;
  height: fit-content;
  padding: 40px;
  border-radius: 10px;
}
