* {
  font-family: Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 0;
}

.carouselMobile, .productosContainerMobile
,.listaCategoriasMobile, .checkoutItemsInfoMobile{
    
 display: none;
}

/* BARRA CATEGORIA */

.seccionProductosContenedor {
  display: grid;
  grid-template-columns: 25% 75%;
  /* background-color: lightgray; */
  background-color: #fff;
}

.barraCategoriasContenedor {
  grid-column: 1;
  padding: 50px;
  padding-left: 70px;
}

.tituloCategoria {
  font-size: 30px;
  padding-bottom: 50px;
}
.linkActiveCategorias {
  color: red;
  font-weight: bolder;
  padding: 10px 0;
  width: fit-content;
}
.barraCategoriasItem {
  list-style: none;
  padding: 10px 0;
  width: fit-content;
  color: black;
  text-transform: capitalize;
}

.barraCategoriasItem:hover {
  color: red;
  width: fit-content;
}

.listaCategorias {
  padding: 0;
  cursor: pointer;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.seccionProductosProductos {
  grid-column: 2;
}

.productosContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  padding: 50px 20px;
}

.cardsProductos {
  /* padding: 40px; */
  width: 216px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  height: 400px;
  background-color: #fff;
}

.productosImg {
  width: 100%;
  height: 216px;
  grid-row: 1;
  border-radius: 10px;
}

.cardsInfoContainer {
  padding: 20px;
  display: grid;
}

.cardsTituloProducto {
  margin: top;
  grid-row: 2;
  font-size: 16px;
  text-align: left;
  width: 100%;
}

.cardsPrecio {
  grid-row: 3;
  text-align: left;
  margin: 0;
}

.cardsInfoProducto {
  text-align: left;
  margin: 0;
  padding: 30px 0;
}

.btnProductos {
  grid-row: 4;
}

.tituloContainer {
  text-align: center;
  padding-top: 50px;
}

.titulo {
  margin: 0;
  font-size: 40px;
}

.btnVerMas {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.spinnerContainer {
  text-align: center;
  padding: 20px 0;
}

/* NAV BAR LIST */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  color: white;
  background-color: black;
  padding: 10px;
}
.contenedor {
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 20px;
  margin: 0;
  color: white;
  height: 80px;
}
.navBarLogoContainer{
  padding: 0 50px;
}
.navBarLogo {
  width: 135px;
}
.carritoLoginContainer {
  display: flex;
  padding-right: 10px;
  width: fit-content;
}
.carritoContainer {
  margin: auto;
  padding: 0 20px;
}
.carritoContainer a {
  color: white;
  font-size: 20px;
  width: 50px;
}
.cantidadProductosCarrito {
  display: flex;
}
.numeroDeProductosEnCarrito span {
  font-size: 12px;
}
.numeroDeProductosEnCarrito {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  top: 5px;
  display: flex;
  left: 1px;
  justify-content: center;
  align-items: center;
}
.lista {
  list-style: none;
  cursor: pointer;
  color: #fff;
  margin: auto 0;
  padding: 0 50px;
}
.lista a {
  width: fit-content;
}

.lista:hover {
  color: blue;
}
.linkActive {
  color: red;
  text-transform: capitalize;
  margin: auto 0;
  padding: 0 50px;
  width: fit-content;
  font-weight: bolder;
}

.nombreUsuario {
  border: 1px solid blue;
  border-radius: 10px;
  background-color: #0070cc;
  color: white;
  padding: 8px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}
.nombreUsuario p {
  margin: auto;
  padding: 0 5px;
}

/* FOOTER */

/* .footer {
 
  width: 100%;
  z-index: 100;
  color: white;
}


.listaFooter {
  list-style: none;
  cursor: pointer;
  color: #fff;
  margin: auto 0;
} */
.contenedorFooter {
  width: 100%;
  z-index: 100;
  color: white;
  padding: 20px;
  background-color: black;
  text-align: center;
  color: white;
  height: fit-content;
  
  
}
.contenedorFooter p{
  margin: auto;
}

/* Slider Hero */

.fullheight {
  /* height: 70vh; */
  height: 90vh;
  width: 100vw;
}

.textoLeft {
  text-align: left;
  position: relative;
  left: -60px;
  top: -30px;
  color: black;
  width: 50%;
}

.textoBlanco {
  color: white;
}

.btnMasInformacion {
  display: flex;
  justify-content: left;
  background-color: #0070cc;
  color: white;
}

.btnMasInformacion:hover {
  opacity: 0.6;
}

.ingresoNombreContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 25%;

  padding: 50px;
  width: 100%;
  height: 100%;
}

/* ITEM DETAIL */

.contenedorImagen {
  background-color: rgba(0, 0, 0, 0.1);
  /* padding: 80px 150px; */
  width: 100%;

  height: 100px; /* Altura deseada */
}

.contenedorProductos {
  height: min-content;
}

.imgProductosDetalle {
  width: 100%;
  height: auto;
}

.contenedorInfo {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  width: 30%;
  position: absolute;
  top: 100px;
  left: 50px;
  background-color: rgba(31, 32, 36, 0.97);
  color: white;
  padding: 30px;
}
.descripcionJuego {
  padding: 20px 0;
}
.contenedorInfoProductos {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.tituloProductoDetalle {
  font-size: 30px;
}
.contenedorCategoria {
  display: flex;
  padding: 5px;
}
.categoriaProducto {
  font-size: 8px;
  border: 1px solid white;
  width: fit-content;
  padding: 2px;
  margin: 0 2px;
  text-transform: uppercase;
}
.descripcionProductoDetalle {
  padding: 20px 0;
}

.precioProductoDetalle {
  font-size: 30px;
  margin: 25px 0;
}
.contenedorBotones {
  display: flex;
}
.contenedorBtn {
  text-transform: uppercase;
}
.contenedorBtnAgregar {
  width: 200px;
  padding-left: 20px;
  text-align: right;
}
.btnMasMenos {
  background-color: grey;
  padding: 3px 12px;
  color: white;
  width: 35px;
}
.btnAgregar2 {
  background-color: orangered;
  width: 200px;
  color: white;
}
.contenedorInfoJuego {
  text-align: right;
  position: absolute;
  top: 450px;
  background-color: wheat;
}

/* FORMULARIO CONTACTO */

.formularioContactoContainer {
  padding: 0px;
  height: 100vh;
  padding-bottom: 50px;
  background-image: url("./components/imagenes/contacto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.contenedorContactoFormulario {
  margin-left: 100px;
}

.formularioContacto {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
  text-align: right;
  color: #fff;
}
.formularioContactoContainer h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white; /* Color de acento */
  text-align: center;
}

.formularioRecuadroContacto {
  padding: 0;
  width: 300px;
}

.formularioRecuadroContacto label {
  grid-column: 1;
  width: fit-content;
  margin-left: 60px;
}

.formularioRecuadroContacto input, .formularioRecuadroContacto textarea {
  
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #333; /* Fondo oscuro */
  border: 1px solid white; /* Borde de color de acento */
  border-radius: 5px;
  color: #fff;
}

.CartBtnContainer {
  margin: auto;
  padding-top: 30px;
  border-radius: 5px;
}
.CartBtnContainer button {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Color de acento */
  border: none;
  border-radius: 5px;
  color: white; /* Texto oscuro */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}




/* USER LIST */

.contenedorBase {
  padding: 50px;
  padding: 0px;
  background-color: #fff;
}

.bienvenido {
  margin: 0;

  font-weight: bolder;
}
.contenedorCerrarSesion {
  font-size: 14px;
}
.contenedorCerrarSesion p {
  margin: 0;
  color: blueviolet;
  font-weight: bolder;
}
.contenedorCerrarSesion p:hover {
  color: blue;
}
.formularioContainerCarrito {
  padding: 0px;
  height: 100vh;
  padding-bottom: 50px;
  background-image: url("./components/imagenes/fondoLogin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.contenedorFormularioIniciarSesion {
  margin-right: 100px;
}

.formularioIniciarSesion {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  text-align: right;
  color: #fff;
}
.formularioContainerCarrito h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white; /* Color de acento */
  text-align: center;
}

.formularioRecuadroCarrito {
  padding: 0;
  width: 300px;
}

.formularioRecuadroCarrito label {
  grid-column: 1;
  width: fit-content;
  margin-left: 60px;
}

.formularioRecuadroCarrito input {
  grid-column: 2;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #333; /* Fondo oscuro */
  border: 1px solid white; /* Borde de color de acento */
  border-radius: 5px;
  color: #fff;
}

.CartBtnContainer {
  margin: auto;
  padding-top: 30px;
  border-radius: 5px;
}
.CartBtnContainer button {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Color de acento */
  border: none;
  border-radius: 5px;
  color: white; /* Texto oscuro */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* CARRITOVACIOLIST */

.contenedorBaseCarritoVacio {
  margin: 50px;
  padding: 0px;
  background-color: #fff;
  height: 100%;
}

.carritoVacioContainer {
  display: flex;
  padding: 50px;
  width: 100%;
  flex-direction: column;
  text-align: center;
  height: auto;
}

.carritoVacioContainer h1 {
  font-size: 30px;
}

.carritoVacioImgContainer {
  width: 40%;
  margin: 50px auto;
  padding: 30px 0;
}

.carritoVacioImgContainer img {
  width: 50%;
}

/* CARRITO LIST */

.contenedorIniciarSesionSuperior {
  padding: 50px 0 0 50px;
}

.mainContenedorCarrito {
  display: flex;
  padding: 50px;
  width: 100%;
}
.carritoContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.carritoTitulo {
  font-size: 30px;
  text-align: left;
  padding-left: 190px;
}

.vaciarCarritoBtnContainer {
  display: flex;
  justify-content: right;
  padding-right: 190px;
}
.cardsProductosCarrito {
  padding: 40px;
  width: 70%;
  margin: 10px auto;
  border: 1px solid grey;
  border-radius: 10px;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(205, 202, 202);
}

.productosImgContainerCarrito {
  text-align: left;
  padding-left: 0px;
  width: 30%;
}

.infoContainerCarrito {
  text-align: left;
  width: 70%;
}

.productosImgCarrito {
  width: 100px;
  height: 100px;
}

.btnEliminarCarrito {
  text-align: right;
  padding-right: 50px;
}

.cardsTituloProductoCarrito {
  margin: auto;
  font-size: 20px;
}
.infoCompraContainer {
  width: 30%;
}

.infoCompraTotal {
  width: 80%;
  border: 1px solid grey;
  height: fit-content;
  padding: 40px;
  border-radius: 10px;
  background-color: rgb(205, 202, 202);
}
.btnRegresarContainer{
  margin: auto;
}
/* NOTICIAS */

.contenedorNoticias {
  padding: 100px;
}
.contenedorPrimeraNoticia {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 50px;
}

.imagenPrimeraNoticiaContenedor {
  margin: auto;
}
.imagenPrimeraNoticiaContenedor img {
  width: 500px;
  height: 280px;
  text-align: center;
}
.PrimeraNoticiaInformacion {
  margin: auto;
  grid-column: 2;
  padding: 50px 75px;
}

.imagenPrimeraNoticia {
  border-radius: 10px;
  height: auto;
  grid-column: 1;
}

.contenedorNoticiasVarias {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.contenedorNoticiasInferiores {
  text-align: center;
  border: none;
}
.imagenOtrasNoticias {
  width: 200px;
  border-radius: 10px;
  height: auto;
  grid-column: 1;
}
.imagenOtrasNoticiasContenedor {
  margin: auto;
}
.imagenOtrasNoticiasContenedor img {
  width: 500px;
  text-align: center;
  height: 280px;
}
.noticiasParrafos {
  font-size: 15px;
  text-align: left;
}
.noticiasTitulo {
  font-size: 20px;
  padding-bottom: 15px;
}

/* CHECKOUT */

.containerCheckout {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  flex-direction: column;
}
.containerCheckoutBoleta {
  height: fit-content;
}

.containerCompra {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.checkmark {
  font-size: 60px;
  color: #00cc00;
  text-align: center;
}

.textoCheckout {
  font-size: 18px;
  color: #666; /* Color de texto gris */
  margin-bottom: 20px;
}

.checkoutContenedorBotones {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.btnCheckout {
  width: fit-content;
  margin: 10px auto;
}

.btnCheckout:hover {
  background-color: #005580; /* Color de botón azul más oscuro al pasar el mouse */
}
.checkoutRecibo {
  display: flex;
  margin: auto;
  justify-content: center;
}
.checkoutImgProducto {
  width: 80%;
}
.checkoutReciboContainer {
  text-align: center;
  padding-bottom: 110px;
}
.checkoutReciboContainer h2 {
  padding: 20px 0;
  font-weight: bolder;
}
.checkoutReciboitem {
  display: grid;
  grid-template-columns: 100px 150px 100px 80px 80px;
  text-align: left;
  font-size: 15px;
  padding: 20px 0;
}
.checkoutReciboitem p {
  margin: auto 0;
  text-align: left;
}
.checkoutReciboitemTitulos {
  display: grid;
  grid-template-columns: 100px 150px 100px 80px 80px;
  text-align: center;
  font-size: 15px;
  padding: 20px 0;
  margin: auto;
  justify-content: center;
}

@media (max-width: 576px){

/* SLIDER */

  .carouselDesktop, .productosContainer,.listaCategorias, .checkoutTextoInfo, .checkoutReciboitemTitulos {
    display: none;
  }

  .carouselMobile {
    
    display: block;
   }
  .sliderImgMobile {
    
    height: 90vh;
    width: 100vw;
  }
  .tituloCarouselMobile{
    color: red;
    font-size: 15px;
    padding-bottom: 15px;
    
  }
  .textoCarouselMobile {
    color: white;
    font-weight: bolder;
    font-size: 12px;
    margin: 0;
   
  }
  .contenedorInfoMobile {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(31, 32, 36, 0.97);
    color: white;
    padding: 20px;
  }
  
  .btnMasInformacionMobile {
    
    background-color: #0070cc;
    color: white;
  }
  
  .btnMasInformacionMobile:hover {
    opacity: 0.6;
  }
  
 
/* NAV BAR LIST */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  color: white;
  background-color: black;
  padding: 10px;
}
.navBarLogoContainer{
  padding: 0 20px;
}
.navBarLogo{
  padding: 0;
}
.carritoLoginContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 0;
  
}
.lista{
  padding: 10px 0;
  margin: auto;
  width: fit-content;
}
.linkActive{
  padding: 10px 0;
}
.carritoContainer{
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  
}
.carritoContainer a {
  color: white;
  font-size: 20px;
  width: 50px;
  padding: 0;
}

/* Item List */


.seccionProductosContenedor {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: fit-content;
}
.seccionProductosProductos {
  max-height: 100%;
}
.productosContainerMobile{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  justify-content: space-around;
  padding-bottom: 100px;
  
}
.barraCategoriasContenedor {
  max-width: 100%;
  padding: 10px;
 
}
.listaCategoriasMobile{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.tituloCategoria {
  font-size: 20px;
  padding: 0;
}
.linkActiveCategorias {
  color: white;
  font-weight: bolder;
  padding: 10px 0;
  width: fit-content;
  
}
.barraCategoriasItem {
  list-style: none;
  padding: 10px 0;
  width: fit-content;
  color: white;
  text-transform: capitalize;
}


/* ITEM DETAIL */

.contenedorInfo {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  margin: 0px;
  width: 100%;
  position: initial;
  
  background-color: rgba(31, 32, 36, 0.97);
  color: white;
  padding: 10px;
}
.tituloProductoDetalle {
  font-size: 20px;
  margin: 0;
  padding-top: 30px;
}
.precioProductoDetalle {
  font-size: 15px;
  margin: 10px 0;
}
.contenedorInfoProductos {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 10px;
}
.descripcionJuego {
  padding: 10px 0;
  margin: 0;
}
.contenedorBotones {
  display: flex;
  font-size: 15px;
  padding-bottom: 30px;
}

/* CARRITO LIST */

.contenedorIniciarSesionSuperior {
  padding: 20px 0 0 20px;
}

.mainContenedorCarrito {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.carritoTitulo {
  font-size: 20px;
  text-align: center;
  padding-left: 0px;
}
.carritoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
}
.vaciarCarritoBtnContainer {
  display: flex;
  justify-content: right;
  padding-right: 10px;
  
}
.vaciarCarritoBtnContainer button{
  font-size: 14px;
}
.cardsProductosCarrito {
  padding: 10px;
  width: 100%;
  margin: 20px auto;
  border: 1px solid grey;
  border-radius: 10px;
  height: max-content;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(205, 202, 202);
}
.cardsTituloProductoCarrito {
  margin: auto;
  font-size: 16px;
  padding-top: 50px;
}
.infoContainerCarrito {
  text-align: left;
  width: 100%;
  font-size: 13px;
  
}
.infoContainerCarrito p{
  margin: 10px 0;
}
.productosImgContainerCarrito {
  text-align: left;
  padding-left: 0px;
  width: 100%;
  margin: auto 0;
}
.productosImgCarrito {
  width: 80%;
  height: auto;
}
.btnEliminarCarrito {
  text-align: right;
  padding-right: 0px;
  
}
.btnEliminarCarrito button{
  font-size: 12px;
}

.infoCompraContainer {
  width: 100%;
}

.infoCompraTotal {
  width: 100%;
  border: 1px solid grey;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(205, 202, 202);
  text-align: center;
  font-size: 15px;
}
.infoCompraContainer h2{
  text-align: center;
  font-size: 20px;
}
.btnRegresarContainer{
  display: flex;
  justify-content: center;
}


/* USER LIST */

.formularioContainerCarrito{
  justify-content: center;
  padding: 0;
}
.formularioContainerCarrito h1{
  margin: 20px 0;
}
.contenedorBase {
  padding: 0px;
  padding: 0px;
  background-color: #fff;
}
.contenedorFormularioIniciarSesion {
  margin-right: 0px;
}
.formularioIniciarSesion{
  padding: 0;
  text-align: center;
}
.formularioRecuadroCarrito{
  width: 300px;
}
.formularioRecuadroCarrito input{
  width: 80%;
}
.formularioRecuadroCarrito label{
  margin: 0;
}
.CartBtnContainer {
  margin: 20px auto;
  padding: 0px;
  border-radius: 5px;
}

/* CARRITOVACIOLIST */

.carritoVacioContainer{
  padding: 60px 20px;
}
.carritoVacioContainer h1 {
  font-size: 25px;
}
.carritoVacioImgContainer {
  width: 70%;
  margin: auto;
  padding: 30px 0;
}
.carritoVacioImgContainer img {
  width: 70%;
}

/* CHECKOUT */

.checkoutReciboitem{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 30px;
}
.checkoutImgProducto{
  grid-column: 1;
}
.checkoutReciboitem p{
  grid-column: 2;
  font-size: 14px;
  
}
.checkoutItemTitulo{
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bolder;
}
.checkoutItemsInfoMobile{
  display: block;
}




/* NOTICIAS */


.contenedorNoticias {
  padding: 20px;
}
.contenedorPrimeraNoticia {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}
.PrimeraNoticiaInformacion {
  margin: auto;
  grid-column: 2;
  padding: 0;
}
.contenedorNoticiasVarias {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}
.imagenPrimeraNoticiaContenedor img, .imagenOtrasNoticiasContenedor img {
  width: 100%;
  height: auto;
  text-align: left;
  margin: auto;
}
.imagenPrimeraNoticiaContenedor {
  max-width: 100%;
  text-align: center;
  
}

.noticiasTitulo {
  padding: 15px 0;
  text-align: left;
}


/* CONTACTO*/

.contenedorContactoFormulario{
  margin-left: 0px;
}
.formularioContactoContainer{
  justify-content: center;
  padding: 0;

  
}
.formularioContactoContainer {
  padding: 0px;
  height: 100vh;
  
  background-image: url("./components/imagenes/contactoMobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}
.formularioContactoContainer h1 {
  font-size: 24px;
  margin: 20px 0;
  color: white; /* Color de acento */
  text-align: center;
}

.formularioContacto {
  padding: 0;
  text-align: center;
}
.formularioRecuadroContacto {
  height: auto;
  width: 300px;
}
.formularioRecuadroContacto label {
  width: 80%;
}
.formularioRecuadroContacto input, .formularioRecuadroContacto textarea {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
}






}